html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  padding-top: 10vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  font-family: sans-serif;
}

p {
  margin: 0;
}

input[type="text"] {
  font-size: 1rem;
  border: 0;
  padding: 0.4rem 0.65rem;
  border-radius: 5px;
}

button {
  font-size: 1rem;
  padding: 0.35rem 10px;
  color: hsl(217, 16%, 91%);
  border: 1px solid hsl(217, 66%, 21%);
  border: 0;
  border-radius: 5px;
  background-color: hsl(217, 96%, 51%);
}

.loader {
  margin-top: 10%;
  margin-left: 40%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.hidden {
  opacity: 0;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
